-i  https://pypi.org/simple asgiref==3.3.3
-i  https://pypi.org/simple Django==3.2
-i  https://pypi.org/simple gunicorn==20.1.0
-i  https://pypi.org/simple numpy==1.20.2
-i  https://pypi.org/simple pandas==1.2.3
-i  https://pypi.org/simple python-dateutil==2.8.1
-i  https://pypi.org/simple pytz==2021.1
-i  https://pypi.org/simple six==1.15.0
-i  https://pypi.org/simple sqlparse==0.4.1
-i  https://pypi.org/simple typing-extensions==3.7.4.3
-i https://pypi.gurobi.com gurobipy
